<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BlogShare</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <h1>BlogShare</h1>
        <a href="{% url "blog_index" %}">Home</a>
        <a href="{% url "blog_posts" %}">All posts</a>
        <a href="{% url "blog_authors" %}">All authors</a>
        <div class="login-logout">
            {% if user.is_authenticated %}
                <p class="login-logout-user">User: {{ request.user }}</p>
                <form class="login-logout-button" id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" >Logout</button>
                </form>
            {% else %}
                <p class="login-logout-button">
                    <a href="{% url 'login' %}?next={{ request.path }}">Login</a>                                       {# ?next= is appended to redirect back to (next path) after (url path) #}
                    <a href="{% url "blog_signup" %}">Sign Up</a>
                </p>
            {% endif %}
        </div>
        {% block page_title %}{% endblock page_title %}
        {% block page_content %}{% endblock page_content %}
        <hr>
        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}                                                                  {# page_obj paginator object with info #}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number}}">previous</a>           {# request.path current page URL #}
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock pagination %}
    </body>
</html>