
{% extends "base.html" %}

{% block page_title %}
<h2>{{ author.first_name }} {{ author.last_name }}'s Comments</h2>
{% endblock page_title %}

{% block page_content %}
    {% if comment_list %}
        {% for comment in comment_list %}
            <p>
                In <a href="{% url 'blog_detail' comment.post.pk %}">{{ comment.post.title }}</a> on: {{comment.created_on}}
            </p>
            <p style="margin-top: 0;">{{ comment.body | slice:":400" }}</p>
        {% endfor %}
    {% else %}
        <p>No posts</p>
    {% endif %}
{% endblock page_content %}