
{% extends "base.html" %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
    <small>
        {{ post.created_on.date }} by <a href="{% url 'blog_author_detail' post.author.pk %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> | Categories:
        {% for category in post.category.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>,
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>

    <h3>Comments:</h3>
    {% for comment in post.comments.all %}
        <p>
            On {{ comment.created_on }} <b>{{ comment.author }}</b> wrote:
        </p>
        <p style="margin-top: 0;">
            {{ comment.body }}
        </p>
    {% endfor %}
{% endblock page_content %}